* {
    font-family: "aller-regular";
    font-size: x-large;
}

.section-header u {
    text-decoration: underline;
    text-decoration-color: rgba(0, 255, 255, 0.25);
}

.section-header .line-updation {
    text-decoration: underline;
    text-decoration-color: rgba(80, 80, 80, 0.25);
}

.section-purposes {
    color: rgba(80, 80, 80, 1);
}

.section-balladventure3d {
    color: rgba(80, 80, 80, 1);
}

.author-apps {
    color: rgba(220, 20, 60, 0.75)
}

.author-apps span {
    text-decoration: underline;
}

.author-apps li {
    list-style-type: disc;
}

.app-section strong {
}

@font-face {
    font-family: "aller-regular";
    src: url('../../res/font/Aller_Std_Rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "aller-bold";
    src: url("../../res/font/Aller_Std_Bd.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}